<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
  {% include search_form.html %}
  <ul class="nav nav-list">
    <li>Overview</li>
    <li><a href="{{ site.baseurl }}/docs/">Get Started</a></li>
    <li><a href="{{ site.baseurl }}/docs/example">Example</a></li>
    <li>Basic Concepts</li>
    <li><a href="{{ site.baseurl }}/docs/design">Design Considerations</a></li>
    <li><a href="{{ site.baseurl }}/docs/dialect">Create a TDD File</a></li>
    <li><a href="{{ site.baseurl }}/docs/ui">Building the Connection Dialog</a></li>
    <li><a href="{{ site.baseurl }}/docs/tdvt">Test Your Connector Using TDVT</a></li>
    <li><a href="{{ site.baseurl }}/docs/manual-test">Test Your Connector Using Manual Tests</a></li>
    <li><a href="{{ site.baseurl }}/docs/localize">Localize Your Connector</a></li>
    <li><a href="{{ site.baseurl }}/docs/share">Run Your "Under Development" Connector</a></li>
    <li><a href="{{ site.baseurl }}/docs/package-sign">Package and Sign Your Connector for Distribution</a></li>
    <li><a href="{{ site.baseurl }}/docs/run-taco">Run your Packaged Connector (Taco)</a></li>
    <li>Reference</li>
    <li><a href="{{ site.baseurl }}/docs/api-reference">API Reference</a></li>
    <li><a href="{{ site.baseurl }}/docs/capabilities">Capabilities</a></li>
    <li><a href="{{ site.baseurl }}/docs/auth-modes">Authentication Modes</a></li>
    <li><a href="{{ site.baseurl }}/docs/log-entries">Signature Verification Log Entries</a></li>
  </ul>
</div>
