<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
  {% include search_form.html %}
  <ul class="nav nav-list">
    <li>Overview</li>
    <li><a href="{{ site.baseurl }}/docs/">Get Started</a></li>
    <li><a href="{{ site.baseurl }}/docs/example">Example</a></li>
    <li>Basic Concepts</li>
    <li><a href="{{ site.baseurl }}/docs/design">Design Considerations</a></li>
    <li><a href="{{ site.baseurl }}/docs/dialect">Create a TDD File</a></li>
    <li><a href="{{ site.baseurl }}/docs/tdvt">Test Your Connector Using TDVT</a></li>
    <li><a href="{{ site.baseurl }}/docs/manual-test">Test Your Connector Using Manual Tests</a></li>
    <li><a href="{{ site.baseurl }}/docs/share">Share Your Connector</a></li>
    <li>Reference</li>
    <li><a href="{{ site.baseurl }}/docs/api-reference">API Reference</a></li>
    <li><a href="{{ site.baseurl }}/docs/capabilities">Capabilities</a></li>
    <li><a href="{{ site.baseurl }}/docs/auth-modes">Authentication Modes</a></li>
  </ul>
</div>
