<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
  {% include search_form.html %}
  <ul class="nav nav-list">
    <li>Overview</li>
    <li><a href="{{ site.baseurl }}/docs/">Tableau Connector SDK</a></li>
    <li><a href="{{ site.baseurl }}/docs/example">Connector Examples</a></li>
    <li>Basic Concepts</li>
    <li><a href="{{ site.baseurl }}/docs/design">Design Considerations</a></li>
    <li><a href="{{ site.baseurl }}/docs/drivers">Driver Requirements</a></li>
    <li><a href="{{ site.baseurl }}/docs/dialect">Create a Dialect Definition (TDD)</a></li>
    <li><a href="{{ site.baseurl }}/docs/connection-dialog">Build the Connection Dialog</a></li>
    <li><a href="{{ site.baseurl }}/docs/tdvt">Test with the TDVT Suite</a></li>
    <li><a href="{{ site.baseurl }}/docs/tdvt-test-case">Fixing TDVT Test Failures</a></li>
    <li><a href="{{ site.baseurl }}/docs/manual-test">Run Manual QA Tests</a></li>
    <li><a href="{{ site.baseurl }}/docs/localize">Localize Your Connector</a></li>
    <li><a href="{{ site.baseurl }}/docs/package-sign">Package and Sign Your Connector for Distribution</a></li>
    <li><a href="{{ site.baseurl }}/docs/run-taco">Run Your Connector</a></li>
    <li><a href="{{ site.baseurl }}/docs/bug-artifacts">Filing a Bug with the SDK</a></li>
    <li>Reference</li>
    <li><a href="{{ site.baseurl }}/docs/api-reference">API Reference</a></li>
    <li><a href="{{ site.baseurl }}/docs/capabilities">Capabilities</a></li>
    <li><a href="{{ site.baseurl }}/docs/metadata-enumeration">Metadata Enumeration</a></li>
    <li><a href="{{ site.baseurl }}/docs/auth-modes">Authentication Modes</a></li>
    <li><a href="{{ site.baseurl }}/docs/oauth">OAuth Authentication Support</a></li>
    <li><a href="{{ site.baseurl }}/docs/ui">Connection Dialog v1</a></li>
    <li><a href="{{ site.baseurl }}/docs/mcd">Connection Dialog v2</a></li>
    <li><a href="{{ site.baseurl }}/docs/log-entries">Signature Verification Log Entries</a></li>
    <li><a href="{{ site.baseurl }}/docs/gallery-submission">Gallery Submission Guide</a></li>
  </ul>
</div>

